.banner {
  background: linear-gradient(
      30deg,
      rgb(78, 133, 133) 0%,
      rgba(97, 153, 168, 0.386) 59%
    ),
    url("../../assests/banner.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  color: white;
  padding: 20px;
  opacity: 0.7;
}
.banner-text {
  opacity: 1 !important;
  position: absolute;
  top: 36%;
  left: 27%;
  /* top: 46%;
left: 31%; */
  font-size: 70px;
}
.second-heading {
  opacity: 1 !important;
  position: absolute;
  top: 53%;
  left: 35%;
  font-size: 33px;
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .banner-text {
    font-size: 40px;
    top: 35%;
    left: 5%;
  }
  .second-heading {
    top: 43%;
    left: 7%;
    font-size: 26px;
    text-align: center;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
